bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/Properties/launchSettings.json
/.idea/.idea.redditJsonTool/.idea/copilot.data.migration.agent.xml
/.idea/.idea.redditJsonTool/.idea/copilot.data.migration.ask.xml
/.idea/.idea.redditJsonTool/.idea/copilot.data.migration.ask2agent.xml
/.idea/.idea.redditJsonTool/.idea/copilot.data.migration.edit.xml
/.idea/.idea.redditJsonTool/.idea/encodings.xml
/.idea/.idea.redditJsonTool/.idea/indexLayout.xml
/redditJsonTool.sln.DotSettings.user
/.idea/.idea.redditJsonTool/.idea/vcs.xml
/output.mp3
